<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="shared/shared.css">
</head>
<body>
<div class="container">
    <img src="data/avatar.png" alt="Avatar" class="avatar-img">
    <div class="name">FlorianMichael</div>
    <div class="bio">Passionate Java developer and tech enthusiast.</div>
    <div class="social-links">
        <a href="https://discord.gg/97GXQxuf7W">Discord</a> |
        <a href="https://florianmichael.de/donate/">Donate</a> |
        <a href="https://github.com/FlorianMichael">GitHub</a>
    </div>
</div>
<a href="https://florianmichael.de/status" class="status-button" target="_blank">Status page</a>
</body>
</html>